<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简单测试</title>
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/jquery-1-11-3.js"></script>
</head>
<body>
<br>
<br>
<br>
<div>
    <form>
        id：<input id="civilFlow"> <br>
        name: <input id="voiceTime">
    </form>
    <br>
    <button id="select">查询</button>
</div>
<div id="recommend" >
    <table border="1">
        <thead>
        <tr>
            <th >id</th>
            <th >name</th>

        </tr>

        </thead>
        <tbody>
        <tr>
            <td id="one"></td>
            <td id="two"></td>
        </tr>

        </tbody>


    </table>



</div>
<script>

    var civilFlow=$("#civilFlow").val();
    var voiceTime=$("#voiceTime").val();
    $(function () {
        $("#recommend").hide()
    })

    $("#select").click(function () {
        $.ajax({
            url: "/ssm/test/user",
            data: {"civilFlow":civilFlow,"voiceTime":voiceTime },
            type: "POST",

            success: function (data) {
                $("#recommend").show()
                $("#one").text(data.id)
                $("#two").text(data.name)
            },
        });
    });
</script>

</body>
</html>